<style>

div.container {
     width: 100%;
     border: 1px black;
    

}

div.header {

  
  float: right;
  width: 180px;
  height: 200px;

}

header, footer {
   
    height: 100%;
    padding: 2em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}



body
{
font-family: sans-serif;
font-size: 11pt;
}


table
{
position:center;
padding:center;
border: 1px solid:black;
border-collapse:collapse;
opacity: 0.95;
width:100%;


}

h1 {
    font-size: 40px;
}

th,td
{
padding:10px;
text-align:center;
}

tr:nth-child(even)
{
background-color:#e6e6e6;
}


tr:nth-child(odd)
{
background-color:white;
}



body { 
    background-image: url('123.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
	
}



</style>