body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
    .bgimg {
    
    min-height: 100%;
    background-position: center;
    background-size: cover;
   
}
#b1
{
    max-width:1600px
}

#mySidebar
{
    z-index:3;width:300px;
}
#imgLogo
{
    width:50%;
}